/*/ phone-layout: /*/

  #header {
    background: #000; 
  }

  #head-logo { 
    margin: 0;
  }
  #head-logo a {
    float:left;
  }

  #main-logo { 
    background: url(images/grant_mainlogo.png) no-repeat scroll 50% 50% transparent;
    top: 100px;
    height: 300px; 
    width: 100%;
    display: block;
  }

  #navbar { 
    margin: 0;
    padding: 5px;
    background-color: #000;
    list-style-type: none;
    text-align: center;
  }

  #navbar ul {
    margin: 30px auto;
    padding: 0;
  }

  #navbar ul li {
    display: inline;
  } 
   
  #navbar ul li a { 
    text-decoration: none; 
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 10px; 
    color: #fff; 
    background-color: #000;
  } 

  #navbar ul li a:active { 
    color: #000;
    background-color: #fff;
  }

  #colbox {
    width: 100%px;
    margin: 80px auto;
  }

  .fblink {
    font-family: Georgia, serif;
    letter-spacing: 1px;
    line-height: 150%;
    text-decoration: none;
    color: #00C1FC;
  }

  .fb-icon {
    float: right;
    margin: 20px 25px;
  }

  .serif {
    font-family: Georgia, serif;
    letter-spacing: 1px;
    line-height: 150%;
    text-decoration: none;
  }
   
  .sans {
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;  
  }

  .textwrap {
    float: left;
    margin: 10px;
  }

  /* photo show */

  .image-container {
    width:100%;
  }

  .img {
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -o-transform:scale(0.6);
    float:left;
    margin-left:10px;
    margin-right:0;
    margin-top:-50px;
    margin-bottom:-50px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
  }

  .img img {
    padding:5px;
    border:1px solid #fff;
  }

  .img:active{
    -webkit-transform:scale(1);
    -webkit-box-shadow:0px 0px 30px #ccc;
    -moz-transform:scale(0.8);
    -moz-box-shadow:0px 0px 30px #ccc;  
    -o-transform:scale(0.8);
    -o-box-shadow:0px 0px 30px #ccc;
    position: relative;
    z-index: 100;
  }  

  .clearfix {
    clear:both;
    float:none;
  }

  /* /.photo show */

  
  #footer {
    background:#000;
    width:100%;
    clear:both;
    margin:0;
    padding:3% 0;
  }

  #footframe {
    background-color:#393939;
    padding: 5px;       
  }

  .foot-left {
    width: 300px;
    margin: 0 auto;
    display: block;
    font-size: 12px;
    background-color:#484848;
  }

  .foot-left p {
    margin: 0;
    padding: 20px 15px;
    color: #fff
  }

  .foot-right {
    width: 400px;
    padding: 2px 0;
    margin: 10px auto;
    display: block;
    font-size: 14px;
    text-align: center;    
  }

  .foot-right p {
    color: #fff
  }

  .foot-logo {
    background: url('images/menu_logo.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
    height: 77px;
    width: 100px;
  }

}

html, 
body {
  margin:0;
  padding:0;
  height:100%;
}

body p {
  font-family: Georgia, serif;
  letter-spacing: 1px;
  line-height: 150%;
}

#wrapper { 
  background-image: url(images/farm_bg.jpg); 
  background-repeat: no-repeat; 
  background-position: 50% -20em;
  width: 100%;
  min-height:100%;
  position:relative;
}

#content {
  padding:15px;
}

#frame img {
  margin: 5px;
  border: 15px;
  border-style: solid;
  border-color: #fff;
}

#gal-frame {  /* gallery part */
  padding: 0 0 0 5%;
}

/*/ Animations /*/

.glow img{
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
}

.glow img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-color: #000;
}

.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}



/*/ tablet-layout: /*/

@media (min-width: 481px) {  

  #head-logo {
      margin: 0;
  }

  #head-logo a {
    float:left;
  }

  #main-logo {
    background-size:auto; 
    top: 100px;
    height: 400px;
    width: 100%;
  }

  #navbar { 
    margin: 0;
    padding: 5px; 
    list-style-type: none; 
    text-align: center;
  }

  #navbar ul {
    margin: 30px auto;
  }

  #navbar ul li {
    display: inline;
  } 
   
  #navbar ul li a { 
    text-decoration: none; 
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px; 
    color: #fff; 
    background-color: #000; 
    } 

  #navbar ul li a:active { 
    color: #A9A9A9;
  }

  /* photo show */

  .image-container {
    width:100%;
  }

  .img {
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -o-transform:scale(0.6);
    float:left;
    margin-left:4px;
    margin-right:-121px;
    margin-top:-50px;
    margin-bottom:-50px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
  }

  .img img {
      padding:5px;
      border:1px solid #fff;
  }

  .img:active{
    -webkit-transform:scale(1);
    -webkit-box-shadow:0px 0px 30px #ccc;
    -moz-transform:scale(0.8);
    -moz-box-shadow:0px 0px 30px #ccc;  
    -o-transform:scale(0.8);
    -o-box-shadow:0px 0px 30px #ccc;
    position: relative;
    z-index: 100;
  }  

  .clearfix {
    clear:both;
    float:none;
  }

  /* /.photo show */

  #footer {
    background:#000;
    height: 230px;
    width:100%;
    clear:both;
    margin:0;
    padding:3% 0;
  }

  #footframe {
    background-color:#393939;
    height: 100%;
    padding: 10px 50px;       
  }

  .fb-icon {
  float: right;
  margin: 15px 35px;
  }

  .serif {
    font-family: Georgia, serif;    
  }
   
  .sans {
    font-family: arial, helvetica, sans-serif;    
  }

  .foot-left {
    float: left;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: block;
    font-size: 12px;
    background-color:#484848;
  }

  .foot-left p {
    margin: 0;
    padding: 5% 10%;
    color: #fff
  }

  .foot-right {
    float: right;
    width: 50%;
    padding: 1% 0;
    margin: 10px auto;
    display: block;
    font-size: 14px;
    text-align: center;    
  }

  .foot-right p {
    color: #fff
  }

  #gal-frame {  /* gallery part */
    padding: 0 0 0 8%;
  } 

}

/*/ desktop-layout: /*/

@media (min-width: 769px) {

  #colbox {
    width: 960px;
    margin: 80px auto;
  }

  #header .container {
    width:960px;
    margin: 0 auto;
    background-color: #000;
  }

  #head-logo { 
    margin: 0;
  }

  #head-logo a {
    background: url('images/menu_logo.png');
    background-repeat: no-repeat;
    height: 77px;
    width: 100px;
    float:left;
  }

  #navbar { 
    width: 100%;
    margin: 0; 
    list-style-type: none; 
    text-align: right;
    background-color: #000;
  }

  #navbar ul {
    margin: 30px auto;
  }

  #navbar ul li {
    display: inline;
  } 
   
  #navbar ul li a { 
    text-decoration: none; 
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px; 
    color: #fff; 
    background-color: #000; 
  } 

  #navbar ul li a:hover { 
    color: #A9A9A9;
  }

  #desk {
    width: 800px;
    margin: 0 auto;
  }

  /* photo show */

  .image-container {
    width:95%;
    margin: 0 auto;
  }

  .img {
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -o-transform:scale(0.6);
    float:left;
    margin-left:-4%;
    margin-right:-86px;
    margin-top:-50px;
    margin-bottom:-50px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
  }

  .img img {
      padding:5px;
      border:1px solid #fff;
  }

  .img:active{
    -webkit-transform:scale(1);
    -webkit-box-shadow:0px 0px 30px #ccc;
    -moz-transform:scale(0.8);
    -moz-box-shadow:0px 0px 30px #ccc;  
    -o-transform:scale(0.8);
    -o-box-shadow:0px 0px 30px #ccc;
    position: relative;
    z-index: 100;
  }  

  .clearfix {
    clear:both;
    float:none;
  }

  /* /.photo show */ 

  .fb-icon {
  float: right;
  margin: 5% 20% 0 0;
  }

  #footer {
    background:#000;
    height: 230px;
    width:100%;
    clear:both;
    margin:0;
    padding:15px 0;
  }

  #footframe {
    background-color:#393939;
    height: 200px;
    padding: 10px 200px;       
  }

  .foot-left {
    float: left;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: block;
    font-size: 12px;
    background-color:#484848;
  }

  .foot-left p {
    margin: 0;
    padding: 5% 10%;
    color: #fff
  }

  .foot-right {
    float: right;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    text-align: center;    
  }

  .foot-right p {
    margin: 1% auto;
    color: #fff    
  }

  #gal-frame {  /* gallery part */
    padding: 0 0 0 6%;
  }

}

/*/============ GALLERY ==============================================================/*/

#header2 {
  height: 110px;
}

.heading{
  font-family: Georgia, serif;
  font-size:22px;
  color:#8A8A8A;
  text-align:center;
  margin-bottom: 10px;
}

#image-box {
    width:100%;
}

/*/============ THE FARM ==============================================================/*/

 #cap {
  width: 600px;
  min-height:100%;
  position:relative;
  margin:0 auto;
  }

 #header3 {
    height: 20px;
  }

 #stats img {
    padding: 150px 0 0 0;
    max-width: 100%;
    min-width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

/*/ Slider /*/

#container {
    width: 600px;
    margin: 30px auto;
}

#prevbox {
    position: relative;
    overflow: hidden;
    height: 440px;
    border-radius: 6px;
    background: #f3f3f3;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}

/* Functionality */

fieldset {
    border: 0;
    position: absolute;
    width: 600px;
    height: 100%;
    left: -1000px;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    vertical-align: middle;
    text-align: center;
    font-size: 36px;
    color: #aaa;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
    border-radius: 6px;
}

input {
    display: none;
}

input[type="radio"]:checked + fieldset {
    left: 0;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

fieldset > label:after {
    content:"Read About";
    background: rgba(0,0,0,0.5);
    display: inline-block;
    height: 19px;
    padding: 5px 8px;
    position: absolute;
    right: 285px;
    top: 0;
    border-radius: 4px 4px 0 0;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

fieldset:hover > label:after {
    top: -25px;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

fieldset > label:hover:after {
    color: #ddd;
    background: rgba(0,0,0,0.6);
}

fieldset > input[type="checkbox"]:checked + label:after {
    top: -28px;
}

input[type="checkbox"]:checked + label {
    top: 0;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;}
}

input[type="checkbox"]:checked + label:after {
    top:-38px;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav {
    margin-top: 15px;
    text-align: center;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 13px 10px 0;
}

nav label {
    display: inline-block;
    border-radius: 4px;
    width: 70px;
    height: 55px;
    margin-right: 5px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    color: #888;
    opacity: .4;
    margin-right: 13px;
    margin-bottom: 13px;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

nav label:nth-child(5n) {
    margin-right: 0;
}

nav:hover label {
    opacity: .9;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

nav label:hover {
    opacity: 1;
    background:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.12));
    box-shadow: 0 1px 3px rgba(0,0,0,0.7),
                -1px -1px 3px rgba(0,0,0,0.3);
}

fieldset > label {
    background: rgba(0,0,0,0.7);
    padding: 30px ;
    position: absolute;
    display: block;
    right: 0;
    top: 100%;
    font-size: 17px;
    line-height: 17px;
    bottom:0;
    color: #fff;
    text-align: left;
    box-shadow: inset 0 0 230px (0,0,0,0.8);
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


/* Type */

fieldset > label > em {
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 7px;
    color: #FFCC00;
}

fieldset > label > .tm {
    display: block;
    margin: 5px 0;
    color: #B0B0B0;
}


/* Content */

#label-01 { background: url(images/thumb/f_0001tmb.jpg) no-repeat, #fff; }
#label-02 { background: url(images/thumb/f_0002tmb.jpg) no-repeat, #fff; }
#label-03 { background: url(images/thumb/f_0003tmb.jpg) no-repeat, #fff; }
#label-04 { background: url(images/thumb/f_0004tmb.jpg) no-repeat, #fff; }
#label-05 { background: url(images/thumb/f_0005tmb.jpg) no-repeat, #fff; }
#label-06 { background: url(images/thumb/f_0006tmb.jpg) no-repeat, #fff; }
#label-07 { background: url(images/thumb/f_0007tmb.jpg) no-repeat, #fff; }
#label-08 { background: url(images/thumb/f_0008tmb.jpg) no-repeat, #fff; }
#label-09 { background: url(images/thumb/f_0009tmb.jpg) no-repeat, #fff; }
#label-10 { background: url(images/thumb/f_0010tmb.jpg) no-repeat, #fff; }

#slide-content-01 { background: url(images/farm/f_0001.jpg) no-repeat; }
#slide-content-02 { background: url(images/farm/f_0002.jpg) no-repeat; }
#slide-content-03 { background: url(images/farm/f_0003.jpg) no-repeat; }
#slide-content-04 { background: url(images/farm/f_0004.jpg) no-repeat; }
#slide-content-05 { background: url(images/farm/f_0005.jpg) no-repeat; }
#slide-content-06 { background: url(images/farm/f_0006.jpg) no-repeat; }
#slide-content-07 { background: url(images/farm/f_0007.jpg) no-repeat; }
#slide-content-08 { background: url(images/farm/f_0008.jpg) no-repeat; }
#slide-content-09 { background: url(images/farm/f_0009.jpg) no-repeat; }
#slide-content-10 { background: url(images/farm/f_0010.jpg) no-repeat; }

/*/ End Slider /*/
  